<!DOCTYPE html>
<html>
  <head>
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  </head>
  <body>
    <div class="container">
      <h2><center>Word Counter</center></h2>
      <br />
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL here to get the word count..."  autofocus required>
        </div>
        <button style="float: right;" type="submit" class="btn btn-primary">Add</button>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="mt-3 mb-3">Compleated Jobs</h5>
        {% if jobs %}
        {% for job in jobs %}
        <div class="card mb-3">
          <div class="card-body">            
            <small class="text-muted d-block">URL : {{ job.url }}</small>
            <small class="text-muted d-block">Word Count : {{ job.jobresult }}</small>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No jobs in the Database</p>
        {% endif %}
      </div>
    </div>
  </div>


     </body>
</html>